<!DOCTYPE html>
<html lang="en">
<% include part/head %>
<body>
<div class="container">
  <center>
    <h2>Data Gaji Karyawan</h2>
    <a href="/">Input Data</a>
  </center>
  <br>         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Jabatan</th>
        <th>Gaji Pokok</th>
        <th>Tunjangan</th>
        <th>Pajak (5%)</th>
        <th>Gaji Total</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
        <tbody>
      <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= i+1 %></th>
        <input type="hidden" id="<%= i %>" value="<%= data[i]._id %>">
        <td><%= data[i].nm %></td>
        <td><%= data[i].alamat %></td>
        <td><%= data[i].jabatan %></td>
        <td><%= data[i].gp %></td>
        <td><%= data[i].tunj %></td>
        <td><%= data[i].pjk %></td>
        <td><%= data[i].gt %></td>
        <td> <button class="btn btn-danger" id="delete">Hapus</button></td>
        <td> <button class="btn btn-primary" id="edit">Edit</button></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">

    var del = document.getElementById('delete')

    del.addEventListener('click', function(){
      fetch('delete', {
            method: 'delete',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              'name': 'Hapus Data'
            })
          })
          .then(res => {
            if (res.ok) return res.json()
          }).
          then(data => {
            console.log(data)
            alert("Berhasil Dihapus");
            // window.location.reload()
          })
    })
    var update = document.getElementById('update')

    update.addEventListener('click', function(){
      $.ajax({
          type: 'PUT',
                   data: updatedUser,
                   url: '/users/updateuser/' + globalUserID,
                   dataType: 'JSON'
                 })
                })

</script>
</body>
</html>
